<h1>{{ title }}</h1>
{# Twig est un langage de rendu, un moteur de template, qui permet de traiter et d'afficher les données transmit par le controller sur les différents template #}
{# Twig est intégrer automatiquement au framework Symfony #}
{# title : variable TWIG qui est transmit par le controller, par la méthode home() #}
{# Dans les templates, nous n'avons plus aucune lignes de code de PHP #}
{# {{  }} -> doucbles accolades, ce que l'on appel l'interpolation #}

{% if age > 18 %}

    <p> tu es majeur !!</p>

{% else %}

    <p>tu es mineur !!</p>

{% endif %}    




Les 4 espèces principales de kangourou
Le kangourou géant présente un pelage épais gris mais blanc sur le ventre. Il mesure entre 1,50m et 1,80 m et peut peser jusqu’à 60 kilos.
Le kangourou roux tire son nom de sa couleur. Plus grand marsupial vivant, il peut peser 90 kilos, pour une hauteur de 1,80 m, à laquelle il faut rajouter 1,20 m de queue.
Le kangourou gris emprunte lui aussi son nom au coloris de sa robe. Il mesure entre 90cm et 1,40m et pèse de 15 à 54kg. <br/><br/>
Le kangourou antilope est plus petit que ses congénères. À ce titre, il est considéré comme un “wallaroo” (de taille intermédiaire par rapport aux wallabys). Le mâle est roux et la femelle grise.<br/><br/>
Le kangourou, des sauts spectaculaires
Le kangourou se caractérise par des pattes postérieures longues et puissantes tandis que les membres antérieurs sont plutôt réduits. Sorte de cinquième patte, sa queue longue et musculeuse sert d’appui lors de sauts qui peuvent être spectaculaires. Lorsque le marsupial doit fuir face à un prédateur, il est capable de franchir 3,30 m de haut et plus de 9 m en longueur. En temps normal, ses sauts ne dépassent pas 1,90 m de long. En outre, l’animal peut parcourir de grandes distances à une vitesse moyenne de 25 km/h tandis que des pointes à 80 km/h ont déjà été observées.<br/><br/>

Le kangourou, pas très organisé
Cet animal pacifique aime vivre dans un troupeau de 8 ou 10 individus maximum, comprenant un mâle, une ou plusieurs femelles et leurs petits. Il n’est pas rare non plus de rencontrer des groupes de deux à trois membres ou de vieux kangourous seuls car le marsupial ne suit pas une organisation stricte dans sa vie en communauté. Lorsque les pâturages prospèrent grâce à la pluie, les animaux se montrent assez individualistes mais deviennent grégaires lorsque la sécheresse raréfie la nourriture. Ils se réunissent alors en troupeaux de plusieurs dizaines d’individus et parcourent des kilomètres pour rejoindre les plaines où subsistent, autour de points d'eau, des arbres, de l’herbage et de l'ombre.<br/><br/>

Le kangourou se nourrit à la fraîche
Tous les kangourous sont herbivores et se nourrissent essentiellement d'herbes (de 60 à 90 % de leur régime alimentaire) et de plantes herbacées à fleurs comme la luzerne ou le trèfle. Le spécimen roux affectionne particulièrement le spinifex ou “herbe porc-épic” dont les feuilles rigides et pointues comme des épingles ressemblent à des épines. La plupart des macropodidés recherchent la nourriture et les points d'eau la nuit ou au crépuscule. Ils s’alimentent pendant de longues heures, entre sept et dix heures par jour. Les mâles mangent en moyenne une heure de plus que les femelles qui vont rechercher une nourriture plus riche en protéines, notamment pendant les périodes de sécheresse, et se concentrer sur les pâturages les plus bénéfiques pour la qualité de leur lait. Bien qu'étant assez adaptés aux climats arides, les kangourous préfèrent se prélasser aux heures les plus chaudes de la journée.<br/><br/>

Combat de boxe avant l’accouplement
Chez les mâles, la hiérarchie s’appuie le plus souvent sur la taille, en particulier lorsqu'il s'agit de courtiser une demoiselle. Les kangourous pratiquant la polygamie (un mâle dominant peut féconder plus d’une vingtaine de femelles), cette organisation sociale génère des combats violents entre rivaux qui échangent de puissants coups de pattes postérieures en prenant appui sur leur queue. Les joutes peuvent être virulentes mais jamais mortelles car elles s'achèvent lorsque l'un des deux combattants jette l’éponge et choisit de se soumettre.<br/><br/>

Le minuscule bébé kangourou
Après l’accouplement, l'embryon se développe tout d'abord dans le corps de la femelle, dans une sorte de sac contenant les nutriments. Au terme d’une gestation qui varie entre 29 et 38 jours, le bébé arrive au monde pratiquement à l'état de fœtus, avec des dimensions minuscules : 2 cm de long pour une masse de 1 gramme. Ce petit embryon rose va rester dans la poche pour téter sa mère et finir sa croissance de façon étonnante en atteignant 3,5 kg en six mois environ. Lorsqu'il se sent prêt (vers cinq mois), le bébé sortira de la poche et aura besoin de la présence maternelle jusqu'au sevrage, vers l’âge d’un an. Il commencera alors à se nourrir seul et continuera à suivre sa mère. Le stade de maturité se situe à partir de 18 mois.<br/><br/>

La poche toujours pleine
Le mode de reproduction des kangourous est adapté au climat (alternance de périodes sèches et pluvieuses). Une fois qu'une femelle a donné naissance à un jeune, un ovule se libère alors que le premier bébé se trouve encore dans la poche marsupiale à un stade peu avancé. Ce nouvel ovule est fécondé, mais il reste au stade de blastocyte (développement précoce) dans l'utérus jusqu'à la période de pluies suivante. Il reprend sa croissance tandis que la femelle garde dans la poche ventrale son premier petit. Vers l’âge de 5-6 mois, celui-ci quittera la poche marsupiale. Le second bébé naîtra seulement 24 heures après que le premier ait laissé la place libre !<br/><br/>

La noyade, une tactique de défense
N'ayant pas ou peu de prédateurs, le kangourou prolifère sur le continent austral. Seuls les spécimens âgés, malades ou très jeunes sont la proie privilégiée des dingos et chiens sauvages. Quand il est attaqué, le marsupial adopte une tactique consistant à fuir vers un point d'eau où ce bon nageur tentera de noyer son poursuivant en restant debout. Si cette méthode échoue, (point d'eau pas assez profond par exemple), le kangourou s'adosse contre un arbre et repousse l’assaillant à grands coups de pied qui peuvent être mortels lorsqu'ils atteignent leur cible. Le mammifère est aussi menacé par l’homme car il est considéré comme un animal nuisible et utilisé à des fins commerciales pour sa viande et sa peau.<br/><br/>

La chasse aux kangourous
Il est reproché au kangourou de détruire les cultures et de provoquer de nombreux accidents de la route. En réponse, l’État a autorisé les éleveurs à faire appel à des chasseurs pour éliminer les groupes divagant sur leurs terres. Si les marsupiaux abattus peuvent être commercialisés pour leur viande, l’industrie l’agro-alimentaire en achète de moins en moins, suite aux campagnes menées par les organisations de défense des animaux. En 2017, sur un quota de chasse s’élevant à 7,2 millions de kangourous, moins de 1,5 million ont été tués.<br/><br/>